.title {
  color: brown;
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}
li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: lightgrey;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  position: relative;
  font-size: 18px;
  color: #333333;

  input[type='checkbox'] {
    transform: scale(1.2);
    margin-right: 0.5rem;

    &:checked + label {
      color: gray;
      text-decoration: line-through;
    }
  }
  img{
    margin-top: 12px;
    width:17px;
    height:15px;
    align-items: center;
    margin-left: 0.5rem;
    color: lightblue;
    align-content: center;
    float:right;
  }
}

.todo-list-container {
  .input-style {
    border: 0;
    background: none;
    font-size: 18px;
    color: #333333;
    &:focus {
      outline: none;
    }
  }
}
p{
  font-size: 18px;
  margin-left: 45px;
}
.list-title{
  font-size: 20px;
  font-weight: bold;
  color: #807d7d;
}
