
.input-section {
  margin: 25px 5px 5px 50px;
  display: flex;
  justify-content: center;

  input {
    font-size: 18px;
    height: 3rem;
    vertical-align: bottom;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    padding-left: 1rem;
    flex: 1;

    &:focus {
      outline: 0;
      border: 1px solid #7ea4d0;
    }
  }

  button {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #7ea4d0;
    text-align: center;
    color: white;
    font-size: 2rem;


    &:active {
      background-color: #7ea4d0;
    }
  }
}
