<app-task-add (check)="onCheck()" (getTasks)="findTaskList()"></app-task-add>
<label class="list-title">Todo-List: </label>
<p *ngIf="toDoTasks.length == 0">Empty...</p>
<ul class="list-container">
  <li *ngFor="let task of toDoTasks">
    <input type="checkbox" [(ngModel)]="task.completed" (click)="changeTaskState(task.id,task)">
    <label (click)="clickLabel(task.id,task)" *ngIf="editIndex !== task.id">{{task.name}}</label>
    <input *ngIf="editIndex == task.id" class="input-style"
           [defaultValue]="task.name" (keyup.enter)="editTask($event,task.id)"/>
    <img src="../../../assets/images/trash_icon.png" (click)="deleteTask(task)" alt="bin-trash">
  </li>

</ul>
<label class="list-title">Completed-List: </label>
<p *ngIf="completedTasks.length == 0">Empty...</p>
<ul class="list-container">
  <li *ngFor="let task of completedTasks">
    <input type="checkbox" [(ngModel)]="task.completed" (click)="changeTaskState(task.id,task)">
    <label (click)="clickLabel(task.id,task)" *ngIf="editIndex !== task.id"
    >{{task.name}}</label>
    <input *ngIf="editIndex == task.id" class="input-style"
           [defaultValue]="task.name" (keyup.enter)="editTask($event,task.id)"/>
    <img src="../../../assets/images/trash_icon.png" (click)="deleteTask(task)" alt="bin-trash">
  </li>
</ul>
